/*Dashboard styles*/
section {
    display: flex; 
/*    margin-bottom: 30px;*/
    flex-wrap: wrap;
    font-family: 'Lato', sans-serif;
    font-size: 13pt;
}
section:nth-child(2){
    margin-left: 110px;
}
div.block {
    background: white;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    /*flex:1;*/
}
div.block div {
    /*color: black;*/
    padding: 20px;
    overflow: auto;
}
section .block:nth-child(2) div{
    padding-left: 0px;
    margin-left: 5px;
}
div.logo img {
    margin: 0 auto;
}
main section:first-child div.logo{
    margin-right: 50px;
}

.block div:first-child, .block div:nth-child(3){
    color: #76767e;
    border-bottom: 2px solid #d7d7d7;
}

.block div:nth-child(2), div:nth-child(4) {
    color:#f35125;
}
div.no-border {
    justify-content: center;
    align-items: center;
}
.no-border div:first-child, .no-border div.graph {
    border-bottom:0px;
    padding-bottom: 0px;
    text-align: center;
}

.top-border div:first-child {
    border-bottom:0px;
    padding-bottom: 0px;
    border-top: 2px solid #d7d7d7;
}
@media only screen and (max-width:639px){
    section {
        display: block;
        text-align: center;
        width:50%;
        margin:0 auto;
    }
}